:root{
    --soft-black: #323232;
    --darker-black: #191919;
    --hihglight:#ff5252;
    --white: #ffffff;
    --almost-white: #f2f2f2;
    --html-color: #e34c26;
    --css-color: #264de4;
    --js-color: #f3d22cf0;
    /*#fedd09*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway',
        sans-serif;
    scroll-behavior: smooth;
}

.body{
    background-color: var(--almost-white);
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--soft-black);
}

.wellcome-container {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.wellcome-container p{
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: var(--white);
    margin-bottom: 40px;
}

.wellcome-container a {
    border: 1px solid var(--white);
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
}

.button__arrow{
    margin-left: 10px;
}

.highlight {
    color: var(--hihglight);
}


.navbar{
    position: relative;
    display: flex;
    background-color: var(--darker-black);
    border-bottom: 1px solid var(--hihglight);
}

.navbar__menu {
    display: none;
    position: absolute;
    top: 41px; 
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: var(--soft-black);
    list-style: none;
}

.navbar__menu a{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
}

.navbar__menu .active a{
    color: var(--hihglight);
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.button--menu {
    background-color: transparent;
    color: var(--white);
    border: none;
    padding: 6px;
    font-size: 2.4rem;
}

.section__title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--soft-black);
}

.about {
    padding-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 0;
}

.about-info__photo {
    text-align: center;
    padding: 30px;
}

.about-info__photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-info__title{
    font-size: 1.8rem;
    color: var(--soft-black);
}

.about-info__description {
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.link {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--hihglight);
}

.about-tecnology {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin: 0 auto;
    max-width: 500px;
    height: auto;
}

.about-tecnology__span {
    display: inline-block;
    font-size: 3.6rem;
    padding: 0 30px;
}

.about-tecnology__span--html {
    color: var(--html-color);
}

.about-tecnology__span--css {
    color: var(--css-color);
}

.about-tecnology__span--js {
    color: var(--js-color);
}

.progress-bar {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    min-width: 180px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar--html{
    border: 1px solid var(--html-color);
}

.progress-bar--css {
    border: 1px solid var(--css-color);
}

.progress-bar--js {
    border: 1px solid var(--js-color);
}

.progress-bar__info{
    position: absolute;
    display: block;
    padding-right: 5px;
    height: 100%;
    font-size: 1.6rem;
    line-height: 3.0rem;
    text-align: end;
    color: var(--white);
}

.progress-bar__info--html{
    width: 75%;
    background-color: var(--html-color);
}

.progress-bar__info--css {
    width: 75%;
    background-color: var(--css-color);
}

.progress-bar__info--js {
    width: 40%;
    background-color: var(--js-color);
    /* color: var(--soft-black); */
}

